body{
    margin: 0;
    padding: 0;
    background-color: #161722;
}

.list-body{
    padding: 1px;
    background-image: url(todo.jpg);
    background-color:rgb(171, 132, 84);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 99.80vw;
    height: 250px;
    position: relative;
}

.content{
   position: absolute;
   bottom: 0;
   margin-left: auto;
   margin-left: auto;
   display: flex;
   justify-content: space-between;
   width: 99%;
}
input{
    border: none;
    width: 500px;
    height: 50px;
    margin: 10px 10px;
    padding: 2px;
    background-color:#161722;
    border-radius: 5px;
    font-size: 17px;
    font-family: Georgia;
    outline: none;
   color: white;
}
.letter{
    display: flex;
    position:relative;
    bottom: 0;
}
.letter p{
    margin-left:  10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}
.nav{
    display: flex;
    justify-content: space-between;
}

.theme{
    width: 30px;
    height: 30px;
    margin: 20px;
}
#day{
    display: none;
}
